:root {
	--global-background-color: #F8E6BE;
	--global-secondary-background-color: #D8C8A5;
	--global-focus-color: #B17D18;
	--global-diamond-icon-color: #C1A54B;
}


@media only screen and (min-width : 320px) and (max-width : 480px) {

	/* small devices*/
	.section_introduction_cover {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		display: flex;
		width: 100%;
		height: auto;
		min-height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
		background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(./img/cover/cover_2000.png);
		background-size: 120% 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: local;
	}
}


@media only screen and (min-width: 768px) {
	/* For desktop: */

	html,
	body {
		background-color: white;
		color: black;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	nav {
		position: fixed;
		height: 8vh;
		width: 100vw;
		background-color: var(--global-background-color);
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		box-shadow: 0 8px 6px -6px #999;
		z-index: 99999;
	}

	nav a {
		font-family: 'Work Sans';
		color: black;
		font-size: 20px;
		text-decoration: none;
	}

	nav a:hover,
	a:active {
		color: var(--global-focus-color);
		text-decoration: none;
	}

	.nav_content {
		padding: 0 0 0 100px;
		width: 600px;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		list-style-type: none;
		visibility: visible
	}

	nav li {
		margin: auto 50px auto 0;
	}

	.separator {
		margin: auto 10px auto 0;
		background-color: var(--global-diamond-icon-color);
		width: 10px;
		height: 10px;
		display: block;
		rotate: 45deg;
	}

	nav button {
		font-family: Work Sans;
		font-size: 18px;
		margin-left: auto;
		margin-right: 100px;
		height: 4vh;
		width: 6vw;
		min-width: 120px;
		background-color: var(--global-focus-color);
		color: white;
		border: none;
		border-radius: 5px;
		padding: 10px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	nav button:hover,
	nav button:focus,
	nav button:active {
	color: white;
	background-color: var(--global-diamond-icon-color);
	border: none;
	outline: none;
	transform: scale(1.05);
    box-shadow: 0 0 10px rgba(193, 155, 75, 0.5);
}

	.nav_toggle {
		display: none;
	}

	.nav_toggle_icon {
		display: none;
	}

	.section_introduction_cover {
		padding-top: 8vh;
		width: 100%;
        min-width: 100%;
        height: auto;
        min-height: 100vh;
        display: flex;
		flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        background-image: linear-gradient(rgba(216, 200, 165, 0.8), rgba(216, 200, 165, 0.8)), url(./img/cover/cover_2000.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: fixed;
	}

	.logo_cover_container {
		width: 50vw;
	}

	.text_cover_container {
		width: 50vw;
	}

	.logo_cover {
		margin: auto 15% auto 15%;
        width: 70%;
        height: 100%;
	}

	.subtitle_cover {
		font-size: 48px;
        color: #42413D;
        font-family: 'Work Sans';
        margin: 2% 15% 0 15%;
        padding: 0;
        text-align: start;
        overflow: hidden;
        word-wrap: break-word;
	}

	.message_cover {
		font-size: 64px;
        color: black;
        font-family: 'Inter';
        margin: auto;
        padding: 0 15%;
        text-align: start;
        overflow: hidden;
        word-wrap: break-word;
	}

	.section_portfolio {
		padding: 0;
		height: auto;
		min-height: 100%;
		width: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		flex-wrap: nowrap;
		background-image: linear-gradient(rgba(216, 200, 165, 0.8), rgba(216, 200, 165, 0.8)), url(./img/cover/cover_2000.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
		background-attachment: fixed;
	}

	.section_about {
		padding: 15vh 0 20vh 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--global-secondary-background-color);
	}
}

.about_title {
	color: black;
	font-family: 'Inter';
	font-size: 64px;
}

.about_separator {
	margin: 2vh 0 15vh 0;
    width: 150px;
    height: 12px;
    background-color: var(--global-focus-color);
    border-radius: 2px;
}

.about_description {
	margin: 0 18vw 15vh 18vw;
    color: #42413D;
    font-family: 'Work Sans';
    font-size: 30px;
    text-align: center;
    font-style: italic;
}

.about_icon_section {
	display: flex;
	flex-direction: row;
}

.about_icon_group {
	display: flex;
    height: 15vh;
    min-height: 250px;
    width: 10vw;
    min-width: 225px;
    background-color: var(--global-background-color);
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 50px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.about_icon_group .icon {
	fill: #B17D18;
	margin: 30px 0 15px 0;
}

.about_icon_group .about_icon_group_title {
	color: black;
	font-family: 'Inter';
	font-size: 52px;
}

.about_icon_group .about_icon_group_subtitle {
	color: #42413D;
	font-family: 'Work Sans';
	font-size: 20px;
	text-align: center;
}

.section_press {
	padding: 15vh 0 20vh 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: var(--global-secondary-background-color);
}

.press_video {
	margin-bottom: 8vh;
}

.press_options {
	display: flex;
    flex-direction: row;
	gap: 30px;
}

.press_option {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 160px;
    background-color: var(--global-background-color);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
	cursor: pointer;
}

.press_option:hover, .press_option_active {
	transform: scale(1.1);
    box-shadow: 0 0 10px rgba(193, 155, 75, 0.5);
}

.section_contacts {
	height: auto;
	min-height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	background-image: linear-gradient(rgba(216, 200, 165, 0.8), rgba(216, 200, 165, 0.8)), url(./img/cover/cover_2000.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
}

.group_contact {
	margin: 10% 5% 10% 5%;
	padding: 5%;
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: var(--global-background-color);
	border-radius: 30px;
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
	min-width: 360px;
    min-height: 400px;
	width:10%;
	height: 20%;

}

.social_networks_icons {
	margin-top: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 360px;
}

.social_networks_icons a,
.social_networks_icons:hover,
.social_networks_icons:focus,
.social_networks_icons:active {
	text-decoration: none;
	box-shadow: none;
}

.social_networks_icons_container {
	margin: 10px 0;
	text-decoration: none;
	font-family: 'Work Sans';
	font-size: 18px;
	color: black;
	width: 360px;
	height: 70px;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
}

.social_networks_icons_container img {
	width: 48px;
	height: 48px;
	margin-right: 10px;
}

.form_title_container {
	font-family: 'Inter';
	font-size: 32px;
	color: black;
	display: flex;
}

.form_title {
	margin-left: 5px;
}

.form_send_message {
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-top: 20px;
}

input[type=email] {
	width: 360px;
	height: 60px;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 1px solid var(--global-focus-color);
	border-radius: 4px;
	outline: none;
	font-family: 'Work Sans';
	font-size: 16px;
	color: #42413D;
}

input[type=email]:focus {
	border: 1px solid var(--global-diamond-icon-color);
}

button[type=submit] {
	width: 165px;
	height: 48px;
	margin-top: 2%;
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 4px;
	background-color: var(--global-focus-color);
	color: white;
	font-family: 'Inter';
	font-size: 20px;
	border: none;
	outline: none;
	cursor: pointer;
}

button[type=submit]:hover,
button[type=submit]:focus,
button[type=submit]:active {
	color: white;
	background-color: var(--global-diamond-icon-color);
	border: none;
	outline: none;
	transform: scale(1.05);
    box-shadow: 0 0 10px rgba(193, 155, 75, 0.5);
}

textarea {
	width: 360px;
	height: 215px;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 1px solid var(--global-focus-color);
	border-radius: 4px;
	resize: none;
	outline: none;
	font-family: 'Work Sans';
	font-size: 16px;
	color: #42413D;
}

textarea:focus {
	border: 1px solid var(--global-diamond-icon-color);
}

footer {
	background-color: var(--global-focus-color);
	min-height: 200px;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Work Sans';
	font-size: 20px;
	color: antiquewhite;
	row-gap: 25px;
}

.footer_content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Work Sans';
	font-size: 16px;
	color: antiquewhite;
	min-height: 280px;
	height: auto;
	width: 100%;
}

.footer_copyright_image img {
	width: 150px;
	height: 150px;
}

.footer_copyright {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	width: 450px;
	height: 150px;
	padding-top: 20px;
}

.footer_copyright_text {
	width: 250px;
	height: 150px;
	text-align: left;
}

.footer_copyright_title {
	font-size: 20px;
}

.footer_final_message {
	margin: 20px 0 30px 0;
	text-align: center;
}

.group_cards {
	width: 80%;
	padding: 10% 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.card_layout {
	display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 30px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
    padding: 3%;
    margin: 1%;
    background-color: var(--global-background-color);
	width: 5%;
	height: 10%;
    min-width: 200px;
    min-height: 300px;
    border: none;
	cursor: pointer;
}

.card_layout:hover {
	transform: scale(1.08);
    box-shadow: 0 0 10px rgba(193, 155, 75, 0.5);
}

.card_layout_title {
	font-family: 'Inter';
	font-weight: medium;
	font-size: 24px;
	margin: 10px;
	width: 100%;
	text-overflow: ellipsis;
	color: black;
}

.card_layout_thumbnail {
	font-size: 80px;
	width: 10%;
	height: 10%;
	min-width: 80px;
	min-height: 80px;
	line-height: 80px;
	color: var(--global-focus-color)
}

.card_layout_body {
	font-family: 'Work Sans';
	font-size: 16px;
	margin-top: 10px;
	color: #42413D;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--global-background-color);
  margin: 2% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 30px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 48px;
  margin: 0 3% 0 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.myModalContentDiv{
	display:flex;
	display: flex; 
	align-items: flex-start;
	align-content: flex-start;
	text-align:left;
	flex-direction: column;
	flex-wrap: nowrap;
	margin: 2% 5% 5% 5%;
}

.myModalContentDiv p{
	font-family:'Work Sans';
	font-size: 16px;
	color: black;
	margin: 1em 0 1em 0;
}

.myModalContentDiv h1{
	font-family: 'Inter';
	font-size: 20px;
	color: black;
}

.myModalContentDiv ul{
	font-family:'Work Sans';
	font-size: 16px;
	list-style-type: none;
	padding:0;
	margin: 1em 0 1em 0;
	color: black;
}

.myModalContentDiv li{
	margin: 1em 0 1em 1em;
}